html, body {
    height: 100%;
}

body {
    margin: 0;
    background-color: #faebd7;
}

.flexbox {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.flex-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.players {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 10vw;
}

.players div {
    text-align: center;
}

.players div p {
    margin: 0;
}

.players div p.heading, .players div p.identity {
    font-weight: 700;
    font-size: 20px;
}

.center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.center button {
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
}
  
.show {
    display: block;
}

.hide {
    display: none;
}

.grid-wrapper {
    min-width: 250px;
    width: 30vw;
    min-height: 250px;
    height: 30vw;
    border: 1px solid #ffc0cb;

}

.grid-wrapper div[data_id^="row"] {
    height: calc(500px / 3);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.grid-wrapper div[data_id^="col"] {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: calc((500px / 3) - 2px);
    height: 100%;
    border: 1px solid #ff00ff;
    cursor: pointer;
    font-size: 1vw;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.highlight {
    border: 2px solid #adff2f !important;
}

.highlight .circle {
    border: 8px solid #008000 !important;
}

.highlight .cross:before, .highlight .cross:after {
    background: #008000;
}

.circle {
    width: calc(90% - 16px);
    height: calc(90% - 16px);
    border: 8px solid #000;
    border-radius: 50%;
}

.cross {
    width: 90%;
    height: 90%;
    position: relative;
}

.cross:before, .cross:after {
    content: "";
    height: 100%;
    width: 10%;
    position: absolute;
    z-index: -1;
    background: #000;
    left: 50%;
}
 
.cross:before {
    transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
}
 
.cross:after {
    transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
}

footer {
    margin-top: 20px;
}